*{
  box-sizing: border-box;
  margin: 0%;

}

.topnav{display: none;}

.navigation{
  background-color: rgb(64, 64, 64);
   /* background-color: rgb(64, 64, 64); */
   grid-template-columns: repeat(4,1fr);
  border-bottom: 1px solid gray; gap: 20px; padding: 10px;
  display: grid; position: fixed;align-items: center;
width: 100%;color: grey; z-index: 4000; margin-bottom: 50px;

}
.navigation svg{color: black;}
.navigation a{text-decoration: none;
   font-size: 12px; }
  
.logo1 a{color:rgb(140, 140, 230); 
 }
.logo1{ 
  width: 100%; height: 100%;  cursor: pointer;}
.nav-section1 ul{ 
  display: flex;
  font: inherit;
}
.logo1 img{
  width: 100%; height: 100%;
}

.nav-section1 ul li{
  list-style: none; margin: 0px 10px;  
}
.nav-section1 ul li a{ text-transform: capitalize;
  text-shadow: 5px 4px 11px rgb(0 0 0 / 6%);  
  color:white;  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;  text-transform: capitalize;}

.nav-section1 li a:hover{ color:gray;}

.box button{padding:8px 40px; font-weight: 900; border-radius: 10px; 
  background-color:orange; color: royalblue;border: 1px solid orange; }


/* banner */
.banner{ margin-top: 0px;
    background-image:
         url(img/18\ \(3\).jpg);
          height: fit-content; width: 100%; background-size: cover; 
           background-position: top; position: relative;
           width: 100%; 
          
}

.banner-content h3{
  line-height: 1.5; text-transform: uppercase;
  text-shadow: 5px 4px 11px rgb(0 0 0 / 26%);
  letter-spacing: 1px;
  color: white; padding-top: 100px;
  letter-spacing: 2px;font-size: 45px;
}
.banner-content h6{ padding-top:10px ; font-size: 18px;   
   text-transform: capitalize;line-height: 1.5;
}
.banner .banner-content{
    background: rgba(11, 11, 11, 0.4); 
    color: white; 
    width: 100%; 
    padding: 100px; text-align: start;
  }
  .btn button{padding:10px 20px; font-weight: 900; border-radius: 20px; margin:10px 15px;
    background-color:orange; color: white;border: 1px solid orange; }
  .btn button:hover{color: rgb(66, 66, 241);background-color: white;}




/* section-one */

/* section-one */

.sec1-containere{ text-transform: capitalize; 
  height: fit-content; font-weight: 700; 
    width: 100%; padding: 0px; 
 }
 
 .sec1-grid{display: grid; background-color: rgb(64, 64, 64); 
 grid-template-columns: repeat(3,1fr); flex-wrap: wrap;
 gap: 20px; padding:100px 150px; font-family: 'Roboto Condensed', sans-serif;
 }
 .sec1 svg{margin: 0px 20px ;}
 .sec1{background-color: white; padding: 20px; 
   box-shadow: 5px 10px gray;flex-wrap: wrap; line-height: 25px; font-family: 'Open Sans', sans-serif;
   height: 200px; width: 300px; border-radius: 20px;}
 
 .sec1-blue{ background-color: orange; padding: 20px;
   box-shadow: 5px 10px #888888; color:white ; font-family: 'Open Sans', sans-serif;
   height: 200px; width: 300px; border-radius: 20px; line-height: 25px;
 
 }
 .btn-1 button{background-color: transparent; color: white; border: none;
 padding: 0px 20px;}
 .sec1-blue svg{padding-top: 15px;}
 .sec1-plain { padding-top: 20px; line-height: 25px; font-family: 'Open Sans', sans-serif;
 
 }
 
 .sec1-blue h3{ padding: 20px;}
 .sec1-blue p{  padding:5px 20px; text-transform: capitalize;}
 .sec1-plain h1{ padding: 20px; color: white;  font-size: 18px;}
 .sec1-plain p{ color: white;  padding:5px 20px; text-transform: capitalize;}
 
 
   .sec1 h3{color: rgb(74, 79, 171, 0.9); padding: 20px;}
   .sec1 p{color: #464545;  padding:5px 20px; text-transform: capitalize;}
 
   .sec1-plain{text-transform: capitalize;}



/* section-two */
.sec2-container{
   flex-wrap: wrap; 
   width: 100%; background-position: center;
  background-size: cover; background-repeat: no-repeat;
  height:100%;
}

.sec2-content h1{ font-family: 'Roboto Condensed', sans-serif; 
  font-size: 26px; padding: 10px;    text-transform: capitalize;
}
.sec2-content p{font-size: 16px;font-weight: lighter; 
  padding:10px; line-height: 23px; font-family: 'Open Sans', sans-serif;
}
.sec2-container .sec2-content{
  background: rgba(11, 11, 11, 0.4); 
  width: 100%; 
  padding: 100px; text-align: start;
}

.sec2-grid{ text-align: center; 
  display: grid;  flex-wrap: wrap;
grid-template-columns: repeat(3,1fr);
gap: 10px; padding:0px 0px;
}
.sec2{background-color: white; padding: 20px; 
  box-shadow: 5px 5px whitesmoke; text-transform: capitalize;
  height: fit-content; width: 300px; border-radius: 10px;}


.section-two{ background-color: wheat;
 width: 100%; height:fit-content; }

 .sec2 h1{ padding: 0px; color: orange;}
 .sec2 h6{ padding: 10px; color: orange;}
.sec2 h3{color: orange;}
 .sec2 p{ color: gray; font-size: 16px;font-weight: lighter;
  padding:10px; line-height: 23px; font-family: 'Open Sans', sans-serif;}
 
 
/* section-3 */
.section3-container{ text-transform: capitalize; 
   margin: 0px !important;
    flex-wrap: wrap; 
    width: 100%; background-position: center;
   background-size: cover; background-repeat: no-repeat;
   height: 100%;
    /* background-color: rgb(64, 64, 64); */
    border-bottom: 1px solid whitesmoke;
     background-image: url(img/g6.jpg);
 }

 .section3-container .sec3-grid{
  background: rgba(6, 6, 6, 0.514);
  width: 100%;padding: 100px;
 }
.sec3-grid{ height: fit-content;
width: 100%; flex-wrap: wrap;
  display: grid;  
grid-template-columns: repeat(2,1fr);
gap:20px; padding:20px; line-height: 46px;

}
.sec3-text a{ text-decoration: none;

}
.sec3-text h1{
  line-height: 1.5;
  text-shadow: 5px 4px 11px rgb(0 0 0 / 26%);
  letter-spacing: 1px;
  color: white; 
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 26px; padding: 5px;    text-transform: capitalize;
}
.sec3{width: 100%; height: fit-content;}
.sec3 img{ border-radius: 20px;
   /* border-radius: 200px 100px 30px 200px;  */
 padding: 1px; width: 400px; height: 400px; 
  background-color:whitesmoke; object-fit: cover;
}
/* (first value applies to top-left corner,
 second value applies to top-right corner, 
 third value applies to bottom-right corner,
 and fourth value applies to bottom-left corner) */
.sec3-text p{color: orange; font-size: 16px;font-weight: lighter;
  padding:5px; line-height: 23px; font-family: 'Open Sans', sans-serif;}
.btn-2 button{padding: 20px 20px; border: none; 
background-color: transparent; color:white ;}
.btn-2 button:hover{padding: 20px 20px; border: none; border-radius: 20px;
 color:orange;}
 .sec3-text{padding: 20px;}

  /* section-4 */
.sec4-grid{
  flex-wrap: wrap;
 display: grid;   
grid-template-columns: repeat(3,1fr); margin: 0px;
gap:40px; padding:60px; line-height: 28px;
}
 
.sec4-container{ text-align: start; align-items:
  center;
flex-wrap: wrap; color: white; text-transform: capitalize;
 padding: 100px; margin: 0px !important;
/* background-color: rgb(64, 64, 64); */
 font-family: 'Open Sans', sans-serif;
      text-transform: capitalize; height: 100%;
      width: 100%; background-position: center;
      background-size: cover; background-repeat: no-repeat;
      background-image: url(img/g1.jpg);
}
 .sec4{
    color:#464545 ; height: 100%; width: 100%;
   border-radius: 20px; flex-wrap: wrap; box-shadow: 5px 10px gray;
    background: white; text-transform: capitalize;
   padding: 10px;}
   .sec4-img{height: 200px; width: 200px; 
   }
   .sec4-container h1{    line-height: 1.5; text-align: center;
     text-shadow: 5px 4px 11px rgb(0 0 0 / 26%);
     letter-spacing: 1px;
     letter-spacing: 2px; }

 .sec4 img{height: 100%; width: 100%; border-radius: 10px;}
 


    /* blog section */
    .blog-container{
      height: 100%;
      background-color: whitesmoke;
      padding: 100px;
      border-bottom: 1px solid whitesmoke;
  }
  .blog{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-gap: 20px;
      
  }
  .blog-side-2 img{
      width: 100%;
       height: 100%; 
       border-radius: 5px;
  }
  .blog-side1{
      width: 100%;
  }
  .blog-side1 h3{
      line-height: 1.5;
      text-shadow: 5px 4px 11px rgb(0 0 0 / 26%);
      letter-spacing: 1px;
      color: rgb(64, 64, 64); 
      letter-spacing: 2px;font-size: 45px;
  }
  .blog-side1 h6{
      color: orange;padding-top:10px ; font-size: 14px;
  }
  .blog-side1 button{ border-radius: 20px;
      padding: 20px 20px; color: white; background-color: orange;
      border: rgb(74, 79, 171, 0.9); margin-top:50px ; 
  }

  .csslider {
    text-align: left;
    position: relative;
    margin-bottom: 0
}
*, *::before, *::after {
    box-sizing: border-box;
}
/* slidder */
.containerSlider{
    width: 100%; border-radius: 20px;
   height: 400px;
   object-fit: cover;
         
 }



/* section-5 */
.sec5-container{ text-transform: capitalize; 
    flex-wrap: wrap; color: white;
    margin: 0px; align-items: center ; text-align: center;
    padding:80px; 
 }
 .sec5{ box-shadow: 5px 10px wheat;
  border-radius: 10px; flex-wrap: wrap;
   background-color: gray;
   text-transform: capitalize;
  padding: 10px;}

.sec5-grid{display: grid; gap: 20px; flex-wrap: wrap; padding: 2px; 
   grid-template-columns: repeat(4,1fr);}

.sec5 h1{  line-height: 1.5; padding: 10px 0px; 
  text-shadow: 5px 4px 11px rgb(0 0 0 / 26%);
  letter-spacing: 1px; font-size: 16px;
  color: white; 
  letter-spacing: 2px;}

.sec5 svg{color: wheat; align-items: center;}
.sec5 p{line-height: 32px;  font-weight: 600;}

/* section-6 */
.sec6{display: flex; background-color: rgba(4, 8, 79, 0.9);
   margin: 40px; height: 100px;flex-wrap: wrap;
  padding:30px 80px; justify-content: space-between; border-radius: 10px;}

  .sec6 span{color: red;}
  .sec6 h1{color:white ;font-family: 'Roboto Condensed', sans-serif;
  font-size: 26px; padding: 15px;    text-transform: capitalize;
  }

  /* section-7 */
  .sec7{
    background-image: url(img/g1.jpg); border-bottom: 1px solid rgb(64, 64, 64);
          height: 100%; width: 100%; background-size: cover; 
           background-position: center; position: relative; }
.sec7-content h3{
  line-height: 1.5; text-transform: uppercase;
  text-shadow: 5px 4px 11px rgb(0 0 0 / 26%);
  letter-spacing: 1px;
  color: orange; padding-top: 100px;
  letter-spacing: 2px;font-size: 45px;
}
.sec7-content h6{ padding-top:10px ; font-size: 18px;   
   text-transform: capitalize;line-height: 1.5;
}
.sec7 .sec7-content{
    background: rgba(11, 11, 11, 0.4); 
    color: white; 
    width: 100%; 
    padding: 150px; text-align: start;
  }
  .btn button{padding:10px 20px; font-weight: 900; border-radius: 20px; margin:10px 15px;
    background-color:orange; color: white;border: 1px solid orange; }
  .btn button:hover{color: rgb(66, 66, 241);background-color: white;}



/* .section7-container{ text-transform: capitalize; 
   flex-wrap: wrap;
  height: fit-content; font-weight: 700; 
    width: 100%; padding:20px;
    background-color: rgb(64, 64, 64);
    border-bottom: 1px solid whitesmoke;
 }
.sec7-grid{
width: 100%;
display: grid;  flex-wrap: wrap;
grid-template-columns: repeat(2,1fr);
gap:50px; padding: 10px; line-height: 46px;
}
.sec7{width: 100%; height: 100%;}
.sec7 img{width:100%; border-radius: 10px;
  padding: 1px;
  background-color:whitesmoke; object-fit: cover; 
  background-position: bottom;
height: 400px;}
.sec7-text h1{ line-height: 1.5;
  text-shadow: 5px 4px 11px rgb(0 0 0 / 26%);
  letter-spacing: 1px; color: white; letter-spacing: 2px;}

.sec7-text p{color: orange; font-weight: 900;  
  font-size: 16px; 
  padding: 10px;}
  .sec7-text{padding: 20px;} */


  /* section-8 */
.sec8{display: flex; flex-wrap: wrap; background-color: rgba(4, 8, 79, 0.9);
   margin:0px 200px; 
  padding:20px 80px; justify-content: space-between; border-radius: 20px;}
  .sec8 h1{color:whitesmoke ; font-size: 20px;
  }

/* section-9 */
.sec9-container{ text-transform: capitalize; 
  color:white; flex-wrap: wrap;
     background-color: black;
}
.sec9-grid{display: grid; gap: 60px; margin:0px 20px;
   flex-wrap: wrap; 
padding: 50px 0px;  grid-template-columns: repeat(4,1fr);}
.sec9 h1{font-size: 18px; color:rgb(74, 79, 171, 0.9) ;
padding: 10px 5px;}
.sec9 svg{color: rgb(74, 79, 171, 0.9);}
.sec9 p{line-height: 30px; padding: 0px;}
.sec9 a{text-decoration: none; padding: 5px; line-height: 30px;}
.sec9 img{border-radius: 10px; width: 100px; height: 100px;}

/* login page */
.login-container {color: white;
  text-transform: capitalize; flex-wrap: wrap;
   flex-wrap: wrap;
 height: fit-content; font-weight: 700; 
   width: 100%; padding:20px;
    /* background-image: url(img/lo-homepage-background.png); */
    background-color: rgb(64, 64, 64);
    /* background-color: black;  */
     border-bottom: 1px solid rgb(64, 64, 64);
}
.login{
  padding: 100px;
  align-items: center;
}
.login span{color: red;}
.login h3{
  line-height: 1.5; text-transform: capitalize;
  letter-spacing: 2px;
  color: white; font-size: 25px; text-align: center;
}
.login p{ color: orange;padding-top:10px ;  letter-spacing: 2px; font-size: 16px; text-align: center;}





/* profile content starts here */



 