
@media (max-width: 800px) {
    /* Style the navigation menu */
    .topnav { 
      overflow: hidden;
      background-color: #333;
      position: relative;
      display: contents;
    }
    
    .topnav .logo{width: 100%; height: 100%;}
    
    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
      display: none;
      position: absolute;
      left: 0; 
      padding: 2%;
      background:white;
      width: 25%;
      visibility: visible;
      opacity: 1;
      display: none;
      z-index: 9999;
      border-top: 3px solid #333;
    }
    
    /* Style navigation menu links */
    .topnav a {transition: all .9s ease-in-out;
      color:#333;
      padding: 4px 2px;
      text-decoration: none; 
      font-size: 14px; text-transform: uppercase;
      display: block; background-color: white;
      border-bottom: 1px solid whitesmoke;
    }
    
    /* Style the hamburger menu */
    .topnav a.icon {
      background: white;
      color:#333; border-bottom: none;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }
    
    /* Add a grey background color on mouse-over */
    .topnav a:hover {
      background-color: #ddd;
      color: black !important; 
    }
    
    /* Style the active link (or home/logo) */
    .active {
      margin: 0px !important;
      color: white;
    }
   
        .navigation{
            display: none; 
            
        }
        /* banner-start */
    
        .banner{margin: 0px;
                height: fit-content; 
                }
        
        .banner-content h1{
          font-size: 16px; padding-top: 100px;
        }
        .banner .banner-content{flex: 100%;
          width: 100%; object-fit: contain;
          padding: 10px; margin: 0px;
        }
        
        .banner{  flex: 100%;
          width: 100%; object-fit: contain;  }
    
    .banner button{padding:10px 20px;  }
         
    .btn-l button{padding:10px 20px;   }

/* section-one   */
.sec1-grid{display: block;  flex: 100%;width: 100%;padding:100px 10px;}

.sec1 {padding: 5px; height: fit-content; width:fit-content; margin:20px 10px;}

.sec1-blue { padding:5px;height: fit-content; width:fit-content; margin-top: 10px;}
           

   .sec1-container{display: block; flex: 100%; width: 100%;}

   /* section-two */
   .section-two{ background-color: wheat;
       width: 100%; height:fit-content; line-height: 20px;}
   .sec2-grid{display: none;   }
.sec2-container{margin: 0px;object-fit: cover;
       height: fit-content;   flex: 100%; flex: 100%;
       width: 100%;
       }

.sec2-content h1{
 font-size: 14px; padding-top: 100px;
}
.sec2-content p{font-size: 12px;font-weight: 400;
   padding:5px 15px; font-family: 'Poppins', sans-serif;
  }
.sec2-container .sec2-content{flex: 100%;
 width: 100%; object-fit: contain;
 padding: 10px; margin: 0px;
}

/* section-3 */
.section3-container{flex: 100%;
    font-weight: 700; height: fit-content;
     width: 100%; padding: 10px;  
  }
  .sec3-grid{
   width: 100%; flex:100%;
     display: flex;  
    padding:10px;
   
   }
   .sec3-text{padding: 20px;}
   .sec3 img{height:400px; width: 100%; border-radius:5px;}

   .sec3 h1{
    line-height: 1.2; font-size: 16px;
    text-shadow: 5px 4px 11px rgb(0 0 0 / 26%);
    letter-spacing: 1px;
    color: white; font-family: 'Poiret One', cursive;
    padding-top: 0px;
  }

   .sec3 p{font-size: 14px; }


 /* section-4 */
 .sec4-grid{
  width: 100%; flex:100%;
    display: flex;  
   padding:10px 10px; 
  
  }
  .sec4-img{width: 100%; height: 100%;}
.sec4 img{height: 400px;}
 .sec4 p{ font-size: 12px;}
 .sec4 h3{font-size: 16px;}
.sec4-container h1{font-size: 20px; text-align: start; padding: 10px;}


  /* blog section */
  .blog-container{
    height: 100%;
    margin: 10px;
}
.blog{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 0px;
}
.blog-side-2 img{
    width: 100%;
     height: 100%; 
}
.blog-side1{
    width: 100%;
}
.blog-side1 h3{
    line-height: 1.5;
    text-shadow: 5px 4px 11px rgb(0 0 0 / 26%);
    letter-spacing: 1px;
    color: #464545;
    letter-spacing: 2px;font-size: 15px;
}
.blog-side1 h6{
    color: grey;padding-top:10px ; font-size: 14px;
}
.blog-side1 button{ border-radius: 20px;
    padding: 10px 10px; color: white; background-color: rgb(74, 79, 171, 0.9);
    border: rgb(74, 79, 171, 0.9); margin-top:50px ; 
}
.skippr-nav-element-active{display: none;}
.csslider {
  text-align: left;
  position: relative;
  margin-bottom: 0
}
*, *::before, *::after {
  box-sizing: border-box;
}
/* slidder */
.containerSlider{
  width: 100%; border-radius: 20px;
 height: 200px;
 object-fit: cover;
       
}

 
/* section-5 */
.sec5-container{ flex: 100%; width: 100%; padding:10px 10px;}
.sec5-grid{display: flex;  flex: 100%; padding: 10px; text-align: center;}



/* section-6 */
.sec6{display: flex; flex: 100%; margin: 20px; height: fit-content; padding:5px 5px;}
.sec6 h1{ font-size: 12px;}

 /* section-7 */
 .section7-container{  flex: 100%; height: fit-content;
    width: 100%; padding:20px;}
 
 .sec7-grid{
 width: 100%; flex: 100%;
 display: flex;  
padding: 10px; line-height: 26px;
 }
 .sec7 img{width:100%; border-radius: 0px; height: 400px;}
 .sec7-text h1{padding: 5px;}
 .sec7-text p{ 
 padding: 10px;}
 .sec7-text{padding: 10px;}
 
  /* section-8 */
  .sec8{display: flex; flex: 100%; margin:5px 10px; height: fit-content;padding:10px 10px; }
 .sec8 h1{ font-size: 14px; 
    }

/* section-9 */
.sec9-container{width: 100%; flex:100%;  }
  .sec9-grid{display: block; text-align: center; margin:2px ; flex:100%; padding: 10px; }
  .sec9 h1{font-size: 18px; padding: 10px 5px;}
  .sec9 svg{color: rgb(74, 79, 171, 0.9);}
  .sec9 p{line-height: 20px; padding: 5px;}
  .sec9 a{text-decoration: none; padding: 5px; line-height: 20px;}























      }

  